body {
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo-container {
    display: flex;
    justify-content: center;
    object-fit: cover;
    padding: 1rem 
}
    
.logo {
    width: 30rem;
    height: auto;
}

.banner-container {
    background-color: #1cbbb4;
    width: 100%;
    height: 30rem;
    display: flex;
    align-items: center;
}

.banner-image {
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.check-in-greeting-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.check-in-greeting-container > p {
    margin: 0.5rem;
}

h1 {
    margin-bottom: 0;
}

.phone-container > form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.phone-sub-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    margin: 2rem;
    padding: 1rem;
    width: 400px;
    height: auto;
}

input[type=text], input[type=email], input[type=number], input[type=date], input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

input[type=submit] {
    height: 3rem;
    width: 10rem;
    background-color: #00a652;
    color: #fff;
    font-size: 14pt;
    border: thin solid white;
    border-radius: 8px;
}

input[type=submit]:hover {
    background-color: #0A8A0A;
    cursor: pointer;
}

.footer {
    flex-shrink: 0;
    display: flex;
    justify-content: center;
    width:100%;
    height: 5rem;
    align-items: center;
    background-color: #1cbbb4;
    color:#ffffff;
    font-size: 12pt;
    margin-top: auto;
}

.footer img {
    height:3.5rem;
    width: auto;
    padding: .5rem .5rem 0 0;
}