.form-container > form {
    display:flex;
    flex-direction: column;
    justify-content: center;
    width:50vw;
    margin-left:25vw;
}

.services-container, .relationship-container {
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
}

.services-container > label, .relationship-container > label{
    padding-right: 8px;
}

.language-options {
    display: flex;
    flex-direction: column;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 12px 20px;
    margin: 8px 0;
}

input[type=text], input[type=email], input[type=number], input[type=tel], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}