{% extends "layout.html" %}

{% block header %}
<title>WCEL | Check-in</title>
<link rel="stylesheet" href="../static/stylesheets/checkin.css">
{% endblock %}

{% block body %}
<div class="content-container">
    <div class="logo-container">
        <a href='https://www.wcel.net'>
            <img class="logo" src="../static/images/1.png" alt="50th Anniversary Logo for Whatcom Center for Early Learning" />
        </a>
        <img src="../static/images/accessibility.png" alt="Launch Recite Me assistive technology" id="enableRecite" />
    </div>
    
    <div class="check-in-greeting-container">
        <h1>Welcome to Toddler Time!</h1>
        <p>Please enter your phone number below.</p>
        <p>If this is your first time joining us, please complete your registration <a href="/">here.</a></p>
        <small>* indicates required fields.</small>
    </div>
    
    <div class="phone-container">
        <form action="check_existing" method="post">
        <div class="phone-sub-container">
            <label for="phone">*Enter your phone number:</label>
            <input type="tel" id="phone" name="phone" placeholder='ex: (123) 456-7890' required minlength="10"/>
        </div>
        <input type="submit" id="submit"/>
        </form>
    </div>
</div>

{% endblock %}