{% extends "layout.html" %}

{% block header %}
<title>WCEL | Check-in</title>
<link rel="stylesheet" href="../static/stylesheets/checkin.css">
{% endblock %}

{% block body %}
<script src="../static/scripts/formatInput.js"></script>
<div class="content-container container container-fluid p-0">
    <!-- <img src="../static/images/accessibility.png" alt="Launch Recite Me assistive technology" id="enableRecite" /> -->
    <div class="logo-container">
        <a href='https://www.wcel.net'>
            <img class="logo" src="../static/images/1.png" alt="50th Anniversary Logo for Whatcom Center for Early Learning" />
        </a>
    </div>
    
    <div class="check-in-greeting-container">
        <h1 id="greeting" class="display-3">Welcome to Toddler Time!</h1>
        <p class="display-5">Please enter your phone number below.</p>
        <p id="register-tag" class="display-5 p-3 fw-bolder">If this is your first time joining us, please complete your registration <a href="/registration">here.</a></p>
        <small><span>* </span> indicates required fields.</small>
    </div>
    
    <div class="phone-container">
        <form action="check_existing" method="post">
        <div class="phone-sub-container">
            <label for="phone"><span>* </span>Enter your phone number:</label>
            <input type="tel" id="phone" name="phone" placeholder='ex: (123) 456-7890' required minlength="10" oninput="this.value = phoneFormat(this.value)"/>
        </div>
        <input type="submit" id="submit" value="Submit"/>
        </form>
    </div>
</div>

{% endblock %}