{% extends "layout.html" %}

{% block header %}
<title>WCEL | Confirmation</title>
<link rel="stylesheet" href="../static/stylesheets/confirmation.css">
{% endblock %}

{% block body %}

<div class="confirmation-container">
    <h1>Welcome to Toddler Time!</h1>
    <h2>Registration has been confirmed for:</h2>
    <ul>
        {% for item in entry %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
    
    <a href="/">
        <button class="return-button">Return</button>
    </a>
</div>

<div class="footer">
    <a href="https://github.com/dwstrong5/tt-registration">
        <img src="../static/images/github-mark-white.png" alt="GitLab logo with transparent background" />
    </a>
    Whatcom Center for Early Learning
</div>

{% endblock %}