{% extends "layout.html" %}

{% block header %}
<title>WCEL | Confirmation</title>
<link rel="stylesheet" href="../static/stylesheets/confirmation.css">
{% endblock %}

{% block body %}

<img src="../static/images/accessibility.png" alt="Launch Recite Me assistive technology" id="enableRecite" />

<div class="confirmation-container">
    <h1>Welcome to Toddler Time!</h1>
    <h2>Registration has been confirmed for:</h2>
    <ul>
        {% for item in entry %}
            <li>{{item}}</li>
        {% endfor %}
    </ul>
</div>
<a href="/">
    <button class="return-button">Return</button>
</a>

{% endblock %}