{% extends "layout.html" %}

{% block header %} 
    <title> Sign In </title>
    <link rel="stylesheet" href="/static/stylesheets/login.css">
{% endblock %}


{% block body %}

<div class="logo-container">
  <a class="logo" href='https://www.wcel.net'>
      <img src="../static/images/1.png" alt="50th Anniversary Logo for Whatcom Center for Early Learning" />
  </a>
</div>

<div class="row my-auto w-100" >
    <div class="mx-auto col-8 col-md-6 col-lg-4">
        <form action="home" method="POST" class="registration-form" id="signup">
            <label for="email" class="form-label">Email address:</label>
            <input type="email" class="form-control mb-2" name="email" id="email" placeholder="example@wcel.net" autofocus required>
            <label for="password" class="form-label">Password:</label>
            <input type="password" name="password" id="password" class="form-control mb-2" required>
            <button type="submit" class="btn btn-primary mt-2" style="width:100%; background-color:rgb(0,174,239);">Submit</button>
        </form>
        <div class="sign-in-redirect mt-2">Forgot your password? <a href="/" style="color:blue">Reset it here.</a></div>
    </div>
</div>

{% if message %} 
<div class="alert alert-secondary mx-auto bg-danger" role="alert">
    <p class="text-light my-auto">{{ message }}</p>
</div>
{% endif %}

{% endblock %} 