{% extends "layout.html" %}

{% block header %}
    <title>WCEL | Registration</title>
    <link rel="stylesheet" href="../static/stylesheets/register.css">
{% endblock %}

{% block body %}

{% if message %}

{% endif %}

<script src='../static/scripts/formatInput.js'></script>
<div class="content-container container container-fluid p-0">
    <!-- <img src="../static/images/accessibility.png" alt="Launch Recite Me assistive technology" id="enableRecite" /> -->
    <div class="logo-container mb-2">
        <button id="login-button"><a id="login-link" href="login">Staff Login</a></button>
        <a class="logo" href='https://www.wcel.net'>
            <img src="../static/images/1.png" alt="50th Anniversary Logo for Whatcom Center for Early Learning" width=""/>
        </a>
    </div>
    
    
    <div class="greeting-container d-flex flex-column justify-content-center">
        <h1 id="greeting" class="display-3">Welcome to Toddler Time!</h1>
        <p class="display-5">If this is your first time joining us, please provide the following information to complete registration.</p>
        <p id="checkin-tag" class="display-5 p-3 fw-bolder">If you've been with us before, check-in <a href="checkin">here.</a></p>
        <small><span>* </span> indicates required fields.</small>
    </div>
    
    
    <div class='form-container'>
        <form action="confirm-registration" method="POST">
            <label for="parent-name"><span>* </span>Your full name:</label>
            <input type="text" id="parent-name" name="parent-name" placeholder='ex: John Smith' required autofocus />
    
            <label for="child-name-1"><span>* </span>Your child's full name:</label>
            <input type="text" id="child-name-1" name="child-name-1" placeholder='ex: Abby Smith' required />
    
            <label for="child-age-1"><span>* </span>Your child's date of birth:</label>
            <input type="text" id="child-age-1" name="child-age-1" placeholder="MM-DD-YYYY" pattern="\d{2}-\d{2}-\d{4}" oninput="this.value = dateFormat(this.value)" required/>
    
            <label for="receiving-services-1">Are they receiving services at WCEL?</label>
            <div class='services-container'>
                <input type="radio" id="receiving-services-1" name="receiving-services-1" value="yes" />
                <label>Yes</label>
    
                <input type="radio" id="receiving-services-1" name="receiving-services-1" value="no" />
                <label>No</label>
            </div>
    
            <input class="add-button" type="button" value="Add child..."/>
    
            <label for="relationship">Which best describes you?</label>
            <div class='relationship-container'>
                <div class="relationship-option-container">
                    <input type="radio" id="relationship" name="relationship" value="Parent" />
                    <label class="mx-1">Parent</label>
                </div>
                <div class="relationship-option-container">
                    <input type="radio" id="relationship" name="relationship" value="Grandparent" />
                    <label class="mx-1">Grandparent</label>
                </div>
                <div class="relationship-option-container">
                    <input type="radio" id="relationship" name="relationship" value="Guardian" />
                    <label class="mx-1">Legal Guardian</label>
                </div>
                <div class="relationship-option-container">
                    <input type="radio" id="relationship" name="relationship" value="Nanny" />
                    <label class="mx-1">Nanny</label>
                </div>
                <input  id="other-relationship" type="text" id="relationship" name="relationship" placeholder="Other..." />
            </div>
    
    
            <label for="consultation-photo-permission"><span>* </span>I give permission to WCEL to utilize photos and/or video of my child in the classroom space and to share with other WCEL staff for therapeutic consultation.</label>
            <div class='photo-permission-container'>
                <input type="radio" id="consultation-photo-permission" name="consultation-photo-permission" value="Yes" required />
                <label>Yes</label>
    
                <input type="radio" id="consultation-photo-permission" name="consultation-photo-permission" value="No" required />
                <label>No</label>
            </div>
    
            <label for="outreach-photo-permission"><span>* </span>I give consent without reservation for WCEL to utilize and own photos and/or videos of my child and/or me in displays, publications, social media, WCEL website, events, and fundraisers.</label>
            <div class='photo-permission-container'>
                <input type="radio" id="outreach-photo-permission" name="outreach-photo-permission" value="Yes" required/>
                <label>Yes</label>
    
                <input type="radio" id="outreach-photo-permission" name="outreach-photo-permission" value="No" required/>
                <label>No</label>
            </div>
    
            <label for="email">Email address:</label>
            <input type="email" id="email" name="email" placeholder='ex: John.Smith@gmail.com' />
    
            <label for="phone">Contact Number:</label>
            <input type="tel" id="phone" name="phone" placeholder='ex: (123) 456-7890' minlength="10" oninput="this.value = phoneFormat(this.value)"/>
    
            <label for="languages">Do you speak any additional languages? If so, please select all that apply.</label>
                <div class='language-options'>

                    {% for language in languages %}
                        <div>
                            <input type="checkbox" id="languages" name="languages" value={{language}}>
                            <label>{{language}}</label>
                        </div>
                    {% endfor %}

                    <input type="text" id="languages" name="languages" placeholder='Other...' />
                </div>
                <label for="reference">How did you hear about us?</label>
                <input type="text" id="reference" name="reference" placeholder='ex: My child has previously received services at WCEL' default="" />
               <input type="submit" id="submit" value="Submit"/>
        </form>
    </div>
</div>

<script src="../static/scripts/addOrRemoveChild.js" defer></script>

{% endblock %}
