{% extends "layout.html" %}

{% block header %}
<title>WCEL | Reports</title>
<link rel="stylesheet" href="../static/stylesheets/home.css">
{% endblock %}


{% block body %}

<!--Navbar-->
<nav class="container-fluid navbar navbar-light p-2" style="background-color: #1cbbb4;">
    <a class="navbar-brand" href="https://wcel.net">
        <img src="../static/images/All White WCEL Small Icon Logo 2021.png" style="height: 64px; width: auto;" alt="">
    </a>

    <div class="navbar-nav d-flex flex-row">
        <a class="px-2 nav-link" href="home">Home</a>
        <a class="px-2 nav-link" href="reports">Reports</a>
        <a class="px-2 nav-link" href="logout">Logout</a>
    </div>
</nav>

<div class="container-fluid d-flex flex-column">
    <h1>Reports page</h1>
</div>
{% endblock %}