{% extends "layout.html" %}

{% block header %}
<link rel="stylesheet" href="../static/stylesheets/review.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<title>WCEL | Check-in</title>
{% endblock %}

{% block body %}
<script src="../static/scripts/formatPhone.js"></script>

<div class="logo-container">
    <!-- <img src="../static/images/accessibility.png" alt="Launch Recite Me assistive technology" id="enableRecite" /> -->
    <a class="logo" href='https://www.wcel.net'>
        <img src="../static/images/1.png" alt="50th Anniversary Logo for Whatcom Center for Early Learning" />
    </a>
</div>


    <div class="content-container">
        <a href='checkin'>
            <img class="back-arrow" src="../static/images/blue-back-chevron-transparent.png" alt="Blue colored back-chevron with transparent background." />
        </a>
        <div class="review-container">
            <h1 class="section-title">Review:</h1>
            <small>* indicates required fields.</small>
            <h4>Last check-in: {{entry.get('date')}}</h4>
            <form action="confirm-checkin" method="post">
                <label for="parent-name">*Your name:</label>
                <input type="text" name="parent-name" id="parent-name" value="{{entry.get('parent-name')}}" required>
                <label for="phone">*Phone number:</label>
                <input type="tel" name="phone" id="phone" value="{{entry.get('phone')}}" required oninput="this.value = phoneFormat(this.value)">
                <label for="email">*Email address:</label>
                <input type="email" name="email" id="email" value="{{entry.get('email')}}" required>
                {% set count = namespace(value = 1) %}
                {% for key in entry %}
                    {% if "child-name" in key %}
                    <div id="child-container">
                        <div class="child-label-container">
                            <label for="child-name-{{count.value}}">*Child {{count.value}}:</label>
                            <button class="btn remove-button"><i class="fa fa-close"></i></button>
                        </div>
                        <input type="text" name="child-name-{{count.value}}" id="child-name-{{count.value}}" value="{{entry.get(key)}}" required>
                        {% set count.value = count.value + 1 %}
                    </div>
                    {% endif %}
                {% endfor %}
                <button class="add-button"><i class="fa fa-plus-circle fa-4x"></i></button>
                <div class="buttons-container">
                    <input type="submit" class="submit-button "value="Submit">
                </div>
            </form>
        </div>
    </div>

<script src="../static/scripts/quickCheckInAdd.js"></script>
{% endblock %}