{% extends "layout.html" %}

{% block header %}
{% endblock %}

{% block body %}

<h1>Review</h1>
<h2>{{entry}}</h2>
<h3>Your name: {{entry.get('parent-name')}}</h3>
<h3>Phone number: {{entry.get('phone')}}</h3>
<h3>Email address: {{entry.get('email')}}</h3>

{% set count = namespace(value = 1) %}
{% for key in entry %}
    {% if "child-name" in key %}
        <h3>Child {{count.value}}: {{entry.get(key)}}</h3>
        {% set count.value = count.value + 1 %}
    {% endif %}
{% endfor %}


{% endblock %}